.App {
  max-width: 500px;
  margin: auto;

  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

header {
  margin-top: 50px;
}

section {
  padding: 5px 20px;
}

section.current {
  text-align: center;
}

section.hourly.summary {
  text-align: left;
  padding: 0.5em;
}

section.hourly {
  border-style: solid none solid none;
  border-width: thin;
  border-color: white;
  display: flex;
  overflow: scroll;
  padding: 0px 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
section.hourly::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
section.hourly {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

section.seven-day {
  color: white;
}

table {
  width: 100%;
}

td {
  text-align: center;
  padding: 6px 0px;
}

div.subtitle {
  color: #6a6a6a;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #c9e3f5; */
  /* min-height: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
