.App {
  max-width: 500px;
  margin: auto;

}

header {
  margin-top: 50px;
}

section {
  padding: 20px;
}

section.current {
  text-align: center;
}

section.seven-day {
  color: white;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

div.subtitle {
  color: #6a6a6a;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #c9e3f5; */
  /* min-height: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
